html, body {
  --color-white: #c2c4dd;
  --color-background: #111111;
  --color-background-2: #141414;
  --color-prim: #0070c2;
  background-color: var(--color-background);
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-white);
}
canvas {
  background-color: var(--color-background-2);
}
button {
  border: None;
  border-radius: 3px;
  cursor: pointer;
}
main button {
  display: block;
  text-decoration: none;
  width: 500px;
  height: 50px;
  color: var(--color-background);
  background-color: var(--color-prim);
  text-align: center;
  font-size: 16px;
  margin: 5px auto;
}
main button:hover {
  width: 505px;
  height: 50px;
}
main button:active {
  transition: 0.2s ease-out;
  width: 475px;
}
main {
}
header {
  height: 100px;
  text-align: center;
  font-size: 20px;
  line-height: 0;
  padding: 0;
  margin: 0;
  background-color: var(--color-background-2);
}
a {
  text-decoration: none;
  color: var(--color-background-2)
}
a:active {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--color-background-2);
}
h1 {
  position: absolute;
  text-align: center;
  top: 50px;
  width: 100%;
  margin: auto;
}
